body{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    background-color: rgb(224, 219, 211);
    font-size: 20px;
}
/*common clas*/
#commonpad{
    padding: 20px 80px;
}
/*header section start*/

.myHeader{
    display: flex;
    
}
.leftHeader{
    width: 60%;
}
.heading{
    font-size: 20px;
    border-left: orangered solid 3px;
    padding-left: 10px;
}

.heading .hraderSubTitle{
    color: orange;
}
.headerPera{
    padding-right: 40px;
    text-align: justify;
}
.headerRight{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: orangered;
    color: palegoldenrod;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
}
.text{
    padding-top: 20px;
}
.image{
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.missionhead{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
/*end head*/
/*start section*/
.box1{
    width: 400px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.color1{
    background-color:rgb(225, 240, 241);
}
.color2{
    background-color:rgb(223, 210, 195);
}
.color3{
    background-color:rgb(209, 224, 230);
}
.comimage{
    width: 100px;
}
.commonpera{
    text-align: justify;
    padding: 5px;
}
/*end section*/
/*start first main*/
.firstmain{
    display: flex;
    padding:40px 0;
    
}
.mainleft{
    width: 50%;
}
.mainright{
    padding-top: 100px;
    width: 50%;
}
.maintitle{
    font-size: 20px;
    line-height: 90%;
}
.mainimage{
    width: 70%;
}
.posmainpera{
    padding: 20px;
}
.paddd{
    padding-left: 150px;
}
/*first main end*/
/*last main start*/
.skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lastmain{
    text-align: center;
    padding: 30px 0 10px 0;
}
.lastmainhead{
    font-size: 40px;
    
}
.round{
    height: 150px;
    width: 150px;
    border-radius: 200px;
}
.fs{
    padding-right: 10px;
}
.model1{
    background-color: thistle;
}
.model2{
    background-color: rgb(156, 125, 156);
}
.model3{
    background-color: rgb(112, 107, 112);
}
.model{
    opacity: 1;
}
.model:hover{
    opacity: 0.5;
}
/*last main end*/
/*footer start*/
.foter{
    width: 1400px;
    max-width: 100%;
    background-color: rgb(14, 13, 13);
    height: 150px;
    text-align: center;
}

.fotertext{
    padding-top: 20px;
    
    color: blanchedalmond;
}
.footertitle{
    font-family: 'Oswald', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Teko', sans-serif;
    font-style: italic;
}
.fotyear{
    color: aquamarine;
}
/*footer end*/